*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    margin-top: 40px;
    padding: 0;
}
.details{
    margin-top: 100px;
}
.searchbar{
    width: 290px;
    border-radius: 50px;
    background-color: #F6F6F4;
    border: none;
    color: #B6B6B4;
    font-size: 15px;
    outline: none;
}
.pic-details{
    width: 352px;
    height: 461px;
    border-radius: 25px;
    overflow: hidden;
}
.poster-img{
    width: 352px;
}
.title h2{
    font-weight: 900;
}
.title p{
    font-size: 20px;
    margin-top: 30px;
}
.genre{
    margin-top: 40px;
}
.genre h2{
    font-weight: 900;
}
.tags{
    margin: 15px 0px;
}
.tag{
    width: 92px;
    height: 32px;
    padding: 5px 10px;
    background-color: #FFF0E5;
    color: #F0BC8E;
    border-radius: 50px;
    font-size: 14px;
    margin: 0px 10px 0px 0px;
    cursor: pointer;
}
.rating{
    margin-top: 30px;
    font-size: 20px;
}
.rating span{
    font-weight: 600;
}
.time{
    font-size: 20px;
}
.time span{
    font-weight: 600;
}