*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar {
    width: 5px;
    &-track {
        background: #ffffff; 
    }
    &-thumb {
        background: #333333;
        border-radius: 50px;
    }
}
.spin{
    height: 200px;
    position: relative;
    .spinner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}
img{
    user-select: none;
    -webkit-user-drag: none;
}
a{
    color: #333;
    &:hover{
        text-decoration: none;
        color: #333;
    }
}
.navbar{
    margin-top: 40px;
    padding: 0;
}
.searchbar{
    width: 290px;
    border-radius: 50px;
    background-color: #F6F6F4;
    border: none;
    color: #B6B6B4;
    font-size: 15px;
    outline: none;
}
.suggestions {
    box-shadow: 10px 10px 170px -59px rgba(0,0,0,0.62);
    transition: 0.5s ease-in;
    z-index: 999;
    position: absolute;
    max-height: 143px;
    overflow: hidden scroll;
    margin-top: 5px;
    width: 290px;
    option {
        background-color: #fff;
        padding: 0.3rem;
        &:hover {
            background-color: #333;
            transition: 0.3s ease-in;
            color: #fff;
            cursor: pointer;
          }  
    }
  }
.details{
    margin-top: 100px;
}
.pic-details{
    width: 352px;
    height: 461px;
    border-radius: 25px;
    box-shadow: 0px 0px 40px 0px rgba(51,51,51,0.1);
    overflow: hidden;
        img{
            width: 352px;
        }
}
.title{
    h2{
        font-weight: 900;
    }
    p{
        font-size: 20px;
        margin-top: 30px; 
    }
}
.genre{
    margin-top: 40px;
        h2{
        font-weight: 900;
    }
    .tags{
        margin: 15px 0px;
        .tag{
            width: 92px;
            height: 32px;
            padding: 5px 10px;
            background-color: #FFF0E5;
            color: #F0BC8E;
            border-radius: 50px;
            font-size: 14px;
            margin: 0px 10px 0px 0px;
            cursor: pointer;
        }
    }
}
.rating{
    margin-top: 30px;
    font-size: 20px;
        span{
        font-weight: 600;
    }
}
.time{
    font-size: 20px;
        span{
        font-weight: 600;
    }
}
.top-movies{
    margin-top: 200px;
    overflow-x: hidden;

    &-head{
        display: inline-block;
        h2{
            font-weight: 900;
        }
    }
    &-poster{
        width: 1110px;
        justify-content: space-between;
        transition: 0.5s ease-in-out;
    }
}
.movie-poster{
    padding: 10px;
    &:hover{
        cursor: pointer;
    }
    .poster-pic{
        width: 252px;
        height: 330px;
        border-radius: 25px;
        overflow: hidden;
            img{
            width: 252px;
        }
        transition: 0.5s;
        &:hover{
            opacity: 0.75;
        }
    }
    .movie-txt{
        font-size: 20px;
            h4{
            font-weight: 600;
        }
    }
}
.footer{
    margin-top: 150px;
}
.slide-btn{
    border: none;
    border-radius: 50px;
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}